
 <div id="messages" class="container">

  <h1>Your messages</h1>

  <!-- Code your tabs here -->
  <div class="tabs">
    <a href="#" class="tab active">Traveling</a>
    <a href="#" class="tab">Hosting</a>
  </div>

  <ul class="inbox">
    <li class="message bottom-border">
      <!-- Code your message here -->
      <img src="images/gab.png" alt="" class="avatar">
      <div class="message-name">
        <strong>Gab Dehan</strong>
        <p>10/07/17</p>
      </div>
      <div class="message-body">
        <strong>I am not sure yet!</strong>
        <p>I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?</p>
      </div>
      <div class="message-status">
        <strong class="pending">Pending</strong>
        <p class="price">345€</p>
      </div>
    </li>
    <li class="message bottom-border">
      <!-- Code your message here -->
      <img src="images/cecile.png" alt="" class="avatar">
      <div class="message-name">
        <strong>Cecile Veneziani</strong>
        <p>23/09/17</p>
      </div>
      <div class="message-body">
        <strong>I’ll be glad to welcome you in my cosy flat</strong>
        <p>I’ll be glad to welcome you in my cosy flat in Lille. When are you arriving exactly?</p>
      </div>
      <div class="message-status">
        <strong class="accepted">Accepted</strong>
        <p class="price">345€</p>
      </div>
    </li>
    <li class="message">
      <!-- Code your message here -->
      <img src="images/jad.png" alt="" class="avatar">
      <div class="message-name">
        <strong>Jad Joubran</strong>
        <p>19/08/17</p>
      </div>
      <div class="message-body">
        <strong>Hey man! I'm sorry...</strong>
        <p>Hey man! I'm sorry... I'll be in Amsterdam at these dates.</p>
      </div>
      <div class="message-status">
        <strong class="declined">Declined</strong>
        <p class="price">560€</p>
      </div>
    </li>
  </ul>

</div>
